body {
  background-color: black;
}

.site-wrapper {
  background-image: url('../imgs/abstract-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.glass {
  position: relative;

  width: min(800px, 97%);
  // height: min(803px, 95vh);
  height: min(850px, 95vh);

  background: inherit;
  border: solid 2px hsl(0, 0%, 80%);
  border-radius: 30px;
}

.glass::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: inherit;
  box-shadow: inset 0px 0px 0px 500px rgba(255, 255, 255, 30%);
  border-radius: 30px;

  filter: blur(15px);
  -webkit-filter: blur(15px);
}

#logo-IQAir {
  position: absolute;
  right: 20px;
  bottom: 20px;

  @media (max-width: 500px) {
    right: 0;
    bottom: 5px;
    transform: translateX(-50%);
  }
}

.home {
  visibility: hidden;
}

.search {
  visibility: hidden;
}

// .selection {
//   visibility: hidden;
// }

#search-results {
  height: min(550px, 57vh);
}

#selected-result {
  height: 500px;
}

#search-results,
#selected-result {
  overflow-y: auto;
}

#selected-result {
  > div {
    position: relative;
  }
}

.city-temp {
  display: flex;
  align-items: center;
  outline: solid 1px red;
}

section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 1rem;
  width: 95%;

  h4 {
    margin-left: 1em;
  }
}

#btn-group {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-48%);

  width: 90%;
}

// OUTPUT STYLING

#result-metrics > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
